openapi: 3.2.0
info:
  title: Netwrix OAuth API
  version: '2026-10-03'
  description: 'GENERATED FROM DOCUMENTATION by API Evangelist on 2026-10-03: 4 operation(s) read from 3 public documentation page(s) (each operation names its page in x-source). This is not the provider''s published contract; Netwrix has published no machine-readable contract that the pipeline could find. Engine: local.'
  x-evidence-tiers:
    code-example: 0
    documentation: 4
    pages-with-code: 0
    pages-read: 3
  x-generated-from: documentation
  x-provenance: generated
  x-authored-by: API Evangelist
  x-generated: '2026-10-03'
  x-generator: generate-contract-from-docs.py
  x-engine: local
  x-sources:
  - https://docs.netwrix.com/docs/accessanalyzer/11_6/admin/settings/access/restapi/overview
  - https://docs.netwrix.com/docs/accessanalyzer/11_6/admin/settings/access/restapi/obtaintoken
  - https://docs.netwrix.com/docs/accessanalyzer/11_6/admin/settings/access/restapi/refreshtoken
servers:
- url: https://accessgovernance.company.com
security:
- ServiceNow: []
tags:
- name: OAuth
paths:
  /oauth/token:
    post:
      operationId: post_oauth_token
      tags:
      - OAuth
      summary: Use the Client Credentials to Grant a Refesh Token
      description: The response for a refresh token is the same as the response for an access token.
      x-source: https://docs.netwrix.com/docs/accessanalyzer/11_6/admin/settings/access/restapi/refreshtoken
      parameters:
      - name: grant_type
        in: query
        required: true
        schema:
          type: string
        description: The grant_type parameter must be set to client_credentials
      - name: refresh_token
        in: query
        required: true
        schema:
          type: string
        description: The refresh token previously issue to the client
      - name: client_id
        in: query
        required: false
        schema:
          type: string
        description: Client identifier
      - name: client_secret
        in: query
        required: false
        schema:
          type: string
        description: Client secret
      responses:
        '201':
          description: Success (status as documented)
      x-evidence:
        kind: documentation
components:
  securitySchemes:
    ServiceNow:
      type: http
      scheme: basic
      x-source: https://docs.netwrix.com/docs/accessanalyzer/11_6/admin/action/servicenow/authentication
